doctype html
html
    head
        title #{play.title}
        link(href="/css/about-play.css" rel="stylesheet")
        include ./head.pug
    body
        include ./header.pug
        main.container
            div.row
                header
                    a.play-url(href="#{play.play_url}")
                        h3.play-title #{play.title}
                article.col-md-12
                    div(class="row play-information")
                        div.play-details
                            img(src="https://www.brakkegrond.nl/files/styles/agenda_overview/public/theater_2016/jan_decorte_standdowncdannywillems-01dw-176230-2.jpg?itok=p0pPY8OH" class="img-fluid image-current" alt="Play's image")
                            p.plot #{play.description}
                            a.theater(title="Theater's website" href=`${play.theater_url}`) #{play.name} 
                            p.play-date #{play.play_date.toDateString()}

        include ./footer.pug

        
