doctype html
html
    head
        title Agenda | I amtheater
        include ./head.pug
        link(href="/css/agenda.css" rel="stylesheet")
    body
        include ./header.pug
        main.container
            div.row
                div.col-md-1
                header
                    h5.current-date Agenda from 
                        script.
                            document.write(new Date().toDateString());
            div(class="row play-list")
                div.col-md-1
                article.col-md-10                    
                    each info in information
                        div(class="container-fluid play-information")
                            div.row
                                div(class="col-6")
                                    h4.play-title
                                        a(title="About the play" href=`/play/${info.title}`) #{info.title}
                                div(class="col-3 theater")
                                    a.theater(title="Theater's website" href=`${info.theater_url}`) #{info.name}
                                div(class="col-3 play-date")
                                    p #{info.play_date.toDateString()}
                    else
                        .info Sorry, no plays for this date!
            include ./email-alert.pug
        include ./footer.pug